* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: block;
}